@import "vendor/bootstrap/bootstrap/variables";
@import "variables";


.sdlc-container-alt {

  @media all and (min-width: $screen-lg-min) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .table-container {
    position: relative;
    width: 100%;
  }

  .devops-tools-container {
    padding: 10px;
  }

  .table-label {
    position: absolute;
    right: calc(100% + 20px);
    text-align: right;
    color: $color-gray;
    font-size: 15px;

    @media all and (max-width: $screen-sm-min) {
      display: none;
    }
  }

  .single-application-label {
    top: calc(50% - 375px);
    width: 100px;
  }

  .separate-application-label {
    top: calc(50% - 110px);
  }

  .sdlc-image {
    display: none;
  }

  .sdlc-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    margin-bottom: 50px;

    .title-link {
      color: $color-primary-alt;
      text-decoration: none;

      &:hover {
        text-decoration: none;
        opacity: .6;
      }

    }

  }

  .sdlc-table {
    border-radius: $border-radius-large;
    background: $color-white;
    box-shadow: $box-shadow;

    p {
      font-size: 15px;
    }

    .stage-container {

      p {
        margin: 0;
        font-weight: 600;
        color: $color-primary;
      }

    }

    td {
      padding: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      width: 100%;
      min-width: 110px;
      border-top: 0;

      &:not(:last-child) {
        border-right: 1px solid $color-gray-extra-light;
      }

      svg {
        height: 44px;
        margin-bottom: 10px;
        fill: $color-primary;
      }

      .gitlab-logo {
        height: 44px;
        max-width: 100%;
        transition: $transition-primary;
      }

      //sass-lint:disable-all
      .devops-tool-logo-container,
      .gitlab-logo-container {
        height: 80px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        .devops-tool-tooltip {
          display: none;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          position: absolute;
          bottom: 100%;
          transform: translateY(10px);
          font-size: 14px;
          text-align: center;
          pointer-events: none;
          transition: $transition-primary;

          .tooltip-text {
            padding: 4px 8px;
            margin: 0;
            border-radius: $border-radius-large;
            background: $color-black;
            color: $color-white;
          }

          //sass-lint:disable-all
          .tooltip-carat {
            height: 0;
            border-top: 8px solid $color-black;
            border-bottom: 8px solid transparent;
            border-left: 8px solid transparent;
            border-right: 8px solid transparent;
          }
        }

        //sass-lint:disable-all
        &:hover {

          .devops-tool-tooltip {
            display: flex;
          }

          .devops-tool-logo,
          .gitlab-logo {
            transform: scale(1.1);
          }
        }
      }

      .devops-tool-logo {
        max-height: 60%;
        transition: $transition-primary;
      }

      @media all and (max-width: $screen-lg-min) {
        padding: 20px 10px;
      }

      @media all and (max-width: $screen-sm-min) {
        width: 140px;
        white-space: normal;
      }

    }

    tr {
      display: flex;
      width: 100%;
      position: relative;

      &:not(:last-child) {
        border-bottom: 1px solid $color-gray-extra-light;
      }

      &.single-application-row {
        border-bottom: 0;
      }

    }

    .logo-container {
      justify-content: center;
    }

    .solutions-container {
      text-align: center;
    }

  }

  @media all and (max-width: $container-large-desktop) {
    padding: 50px 0;
    overflow-y: auto;
  }

}